argh==0.26.2
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
decorator==4.3.2
Django==2.2
django-bootstrap-ui==0.5.1
django-tag-parser==2.1
djangorestframework==3.9.2
docutils==0.14
dominate==2.1.17
gitdb2==2.0.5
GitPython==2.1.11
idna==2.8
jedi==0.13.2
Kivy==1.10.1
kivy-designer==0.1.dev0
Kivy-Garden==0.1.4
kivy.deps.angle==0.1.7
kivy.deps.glew==0.1.10
kivy.deps.sdl2==0.1.18
kiwisolver==1.0.1
Logbook==1.4.3
lxml==4.3.0
matplotlib==3.0.2
networkx==2.2
numpy==1.16.1
parso==0.3.3
pathtools==0.1.2
pillow==9.3.0
pipenv==2018.11.26
py==1.7.0
Pygments==2.3.1
pyparsing==2.3.1
pypiwin32==223
pyshark==0.4.2.2
python-dateutil==2.7.5
pytz==2018.9
pywin32==224
PyYAML==3.13
requests==2.21.0
scapy==2.4.2
six==1.12.0
smmap2==2.0.5
sqlparse==0.3.0
urllib3==1.24.1
virtualenv==16.6.0
virtualenv-clone==0.5.3
watchdog==0.9.0
wxglade==0.9.0
wxpython==4.0.4
